@font-face {
  src: url(./newyork/NewYorkExtraLarge-Bold.otf);
  font-family: "NewYorkExtraLargeBold";
}
@font-face {
  src: url(./newyork/NewYorkMedium-Regular.otf);
  font-family: "NewYorkMediumRegular";
}
@font-face {
  src: url(./newyork/NewYorkSmall-Medium.otf);
  font-family: "NewYorkSmallMedium";
}
@font-face {
  src: url(./newyork/NewYorkSmall-Regular.otf);
  font-family: "NewYorkSmallRegular";
}
@font-face {
  font-family: "SF-regular";
  src: url(./sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: "SF-bold";
  src: url(./sf-pro-display/SFPRODISPLAYBOLD.OTF);
}
@font-face {
  font-family: "SF-medium";
  src: url(./sf-pro-display/SFPRODISPLAYMEDIUM.OTF);
}
