$sf-regular: "SF-regular", "Arial", sans-serif;
$sf-bold: "SF-bold", "Arial", sans-serif;
$sf-medium: "SF-medium", "Arial", sans-serif;
$NewYorkExtraLargeBold: "NewYorkExtraLargeBold", "Arial", sans-serif;
$NewYorkSmallMedium: "NewYorkSmallMedium", "Arial", sans-serif;
$NewYorkSmallRegular: "NewYorkSmallRegular", "Arial", sans-serif;
$NewYorkMediumRegular: "NewYorkMediumRegular", "Arial", sans-serif;
